@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import "tailwindcss";

@theme {
    --color-bg: #1b1b2f;
    --color-panel: #26264a;
    --color-line: #55557a;
    --color-accent: #ffcc00;

    --color-orange: #F56F16;
    --color-light-orange: #FCAC75;
    --color-blue: #12748c;
    --color-light-blue: #79bbc7;
    --color-green: #70a608;
    --color-light-green: #b8d770;
    --color-gray: #b3ac9e;
    --color-light-gray: #DBDBDB;
    --color-yellow: #F0EA10;

    --color-bg-white: #FDFDFD;

    --color-border-gray: #A2A496;

    --color-font-white: #FFFFFF;
    --color-font-gray: #665e55;
    --color-font-red: #EC5041;
    --color-font-black: #000000;

    --font-mono: monospace;
    --font-anton: "Anton", sans-serif;
}

@layer base {
    body { 
        margin: 0; 
        background-color: var(--color-bg); 
        color: #fff
    }
}